body {
    background-color: rgba(209, 209, 218, 0.979);
}

.dropdown {
    display: none;
    /* background-color: green; */
}

.wrapper:hover .dropdown {
    display: block;
    background-color: red;
}

.dropdown a {
    display: block;
}


/* .wrapper {
    background-color: red;
} */


/* 
.wrapper:hover {
    background-color: green;
} */


/* 
.dropdown a {
    display: block;
} */