<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
<display-name>Archetype Created Web Application</display-name>
 <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
	<servlet>
		<servlet-name>RegisterServlets</servlet-name>
		<display-name>RegisterServlets</display-name>
		<description></description>
		<servlet-class>controller.RegisterServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlets</servlet-name>
		<display-name>LoginServlets</display-name>
		<description></description>
		<servlet-class>controller.LoginServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<display-name>ProfileServlet</display-name>
		<description></description>
		<servlet-class>controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadImage</servlet-name>
		<display-name>UploadImage</display-name>
		<description></description>
		<servlet-class>controller.UploadImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>controller.RegisterServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlets</servlet-name>
		<display-name>LoginServlets</display-name>
		<description></description>
		<servlet-class>controller.LoginServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlets</servlet-name>
		<display-name>ProfileServlets</display-name>
		<description></description>
		<servlet-class>controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadImages</servlet-name>
		<display-name>UploadImages</display-name>
		<description></description>
		<servlet-class>controller.UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlets</servlet-name>
		<url-pattern>/LoginServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/UploadImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlets</servlet-name>
		<url-pattern>/LogoutServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlets</servlet-name>
		<url-pattern>/ProfileServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImages</servlet-name>
		<url-pattern>/UploadImages</url-pattern>
	</servlet-mapping>		
  
</web-app>
