/* pseudo element*/

li::first-letter {
    color: red;
}


/* sceudo class */

li:first-child {
    color: darkgoldenrod;
}

li::before {
    content: "(💕)";
    background-color: rgb(240, 8, 240);
}

li::after {
    content: "END";
    color: rgb(241, 0, 0);
}

P::first-line {
    color: blue;
}

p:hover {
    color: brown;
}

.parent p {
    color: pink p;
}